body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
a:hover {
	color: #59f;
}

.tc {text-align: center;}
.ml10 {margin-left: 10px;}
.w300 {width: 300px}

.icon-loading {
	display: inline-block;
	width: 24px;
	height: 30px;
	background: url(../assets/loading.svg);
}