doctype html
html
  head
    title= title
    script(src='/node_modules/jquery/dist/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block srcbefore
  body
    block content
    block srcafter