extends layout

block othersrc
  link(rel='stylesheet', href='/stylesheets/book.css')

block content
  h1 Catch Novel Version 1.0
    a.glyphicon.glyphicon-retweet.icon-switch(href='/v2', title='切换版本')
  div.form-group
    a(href='http://www.boquge.com/' target='_blank') http://www.boquge.com/
  div.form-group
    label bookId
      input.form-control#J-book-id
  div.form-group
    label startChapter
      input.w300.form-control#J-book-start
  div.form-group#J-content
  div.form-group
    button.submit-btn.btn.btn-default#J-submit-btn 开始拉取


block script
  script(src="/javascripts/book.js")