extends layout

block othersrc
  link(rel='stylesheet', href='/stylesheets/book.css')

block content
  h1 Catch Novel Version 1.0
  div.form-group
    label bookId
      input.form-control#J-book-id
  div.form-group
    label startChapter
      input.w300.form-control#J-book-start
  div.form-group#J-content
  div.form-group
    button.submit-btn.btn.btn-default#J-submit-btn 开始拉取


block script
  script(src="/javascripts/book.js")